<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Landing Page</title>
</head>
<body>
   <h2><a href='/initiators/add'>Register as Initiator</a></h2>
   <h2><a href='/seekers/add'>Register as Seekers</a></h2>
   <h2><a href='/initiators/login'>Login as Initiator</a></h2>
   <h2><a href='/seekers/login'>Login as Seeker</a></h2>
</body>
</html>