<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Register Seeker</title>
</head>
<body>
   <h1>Complete the form below to be a Rocket Seeker!</h1>
   <form action='/seekers/add' method='post'>
      <label>Name</label>
      <input type='text' name='name' placeholder="input your name" required> <br/>
      <label>Email</label>
      <input type='email' name='email' placeholder="input your email" required> <br/>
      <label>Password</label>
      <input type='password' name='password' placeholder="input your password" required> <br/>
      <label>Skills</label>
      <input type='text' name='skills' placeholder="mention what you're good at!" required> <br/>
      <button type='submit'>Be a Rocket Seeker!</button>
   </form>
</body>
</html>